Source: xfce4-settings
Section: xfce
Priority: optional
Maintainer: Debian Xfce Maintainers <debian-xfce@lists.debian.org>
Uploaders: Yves-Alexis Perez <corsac@debian.org>
Build-Depends: debhelper-compat (= 13),
               intltool,
               libcolord-dev,
               libexo-2-dev (>= 4.15.1),
               libgarcon-1-0-dev,
               libgtk-3-dev,
               libnotify-dev,
               libupower-glib-dev (>= 0.99),
               libxcursor-dev,
               libxfce4ui-2-dev (>= 4.15.1),
               libxfce4util-dev (>= 4.15.2),
               libxfconf-0-dev (>= 4.13.0),
               libxklavier-dev (>= 5.0),
               libxrandr-dev,
               xfce4-dev-tools (>= 4.15),
               xserver-xorg-input-libinput-dev
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: https://docs.xfce.org/xfce/xfce4-settings/start
Vcs-Git: https://salsa.debian.org/xfce-team/desktop/xfce4-settings.git
Vcs-Browser: https://salsa.debian.org/xfce-team/desktop/xfce4-settings

Package: xfce4-settings
Architecture: any
Depends: exo-utils,
         libgarcon-common (>= 0.2.0),
         xfce4-helpers,
         xfconf,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: colord, x11-utils, xiccd
Description: graphical application for managing Xfce settings
 xfce4-settings is the Xfce settings manager front-end. It comes
 with several different components for configuring application-independent
 settings inside xfconf.
 It contains multiple tools:
  - xfce4-settings-manager (which replaces the old mcs settings manager),
    which executes the various (provided) settings dialogs
  - xfce4-settings-editor, a tool for editing ALL settings within xfconf, the
    graphical counterpart of xfconf-query.
  - xfsettingsd, a daemon for exporting XSettings to applications, and
    providing special features like keyboard shortcuts, AccessX notification
    and update of keyboard and mouse-pointer data.

Package: xfce4-helpers
Architecture: any
Multi-Arch: foreign
Depends: python3, python3-urllib3, ${misc:Depends}, ${shlibs:Depends}
Breaks: libexo-helpers, libexo-common (<< 4.15)
Replaces: libexo-helpers, libexo-common (<< 4.15)
Suggests: sensible-utils
Description: helpers for the Xfce4 desktop environment
 This package contains the helper files in use by Xfce4 for its
 preferred applications framework.
